@import "variables";

body {
  margin: 0;

  background-color: $background-color;
  color: $text-color;

  font-size: 13px;
  padding-left: $sidebar-width + $md-margin;

  main {
    padding: 15px;
  }

  strong {
    font-weight: 500;
  }

  h1, h2 {
    margin-bottom: $lg-margin;
    line-height: 1em;

    color: $lg-header-text-color;

    font-weight: 500;
  }

  h3, h4, h5 {
    margin-bottom: $md-margin;
    line-height: 1em;

    color: $md-header-text-color;

    font-weight: 300;
  }

  h6 {
    margin-bottom: $md-margin;
    line-height: 1em;

    color: $sm-header-text-color;

    font-weight: 500;
  }

  a:hover, button:hover {
    cursor: default;
  }
}
