@import "variables";

body {
  margin: 0;

  background-color: $background-color;
  color: $text-color;

  font-size: 13px;
  padding-left: $sidebar-width + $md-margin;

  main {
    padding: 15px;
  }

  a:hover, button:hover {
    cursor: default;
  }
}
