@import "~font-awesome/css/font-awesome.css";
@import "variables";

.fa, .pt-icon {
  color: $label-color;
}

a, p, span, h1, h2, h3, h4, h5, h6 {
  :first-child {
    &.fa, &.pt-icon {
      margin-right: 0.3em;
    }
  }
}

strong {
  font-weight: 500;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1, h2 {
  margin-bottom: $lg-margin;
  line-height: 1em;

  color: $lg-header-text-color;

  font-weight: 500;
}

h3, h4, h5, h6 {
  margin-bottom: $md-margin;
  line-height: 1em;

  color: $md-header-text-color;

  font-weight: 300;
}
