@import "~font-awesome/css/font-awesome.css";
@import "variables";

.fa {
  color: $label-color;
}

a, p, span, h1, h2, h3, h4, h5, h6 {
  .fa {
    margin-right: 0.3em;
  }
}

h1 {
  margin-bottom: 0.66em;

  font-size: 3em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}
