$macOS-gray1: #C7C7C7;
$macOS-gray2: #818181;
$macOS-gray3: #F6F6F6;
$macOS-gray4: #FFFFFF;

$macOS-border-color: $macOS-gray1;
$macOS-menu-header-color: $macOS-gray2;
$macOS-sidebar-color: $macOS-gray3;
$macOS-status-color: $macOS-gray3;
$macOS-background-color: $macOS-gray4;
