$macOS-gray1: #818181;
$macOS-gray2: #5C7080;
$macOS-gray3: #C7C7C7;
$macOS-gray4: #E5E5E5;
$macOS-gray5: #F6F6F6;
$macOS-gray6: #FFFFFF;

$dark-gray1: #252830;
$dark-gray2: #51586A;

$blue-light1: #289EE8;

$sm-margin: 5px;
$md-margin: 10px;
$lg-margin: 15px;

$background-color: $dark-gray1;
$border-color: $dark-gray1;
$text-color: $macOS-gray4;

$lg-header-text-color: $macOS-gray5;
$md-header-text-color: $text-color;
$sm-header-text-color: $dark-gray2;

$sidebar-width: 200px;
$sidebar-background-color: $dark-gray1;
$sidebar-text-color: $macOS-gray4;
$sidebar-header-text-color: $sm-header-text-color;
$sidebar-active-background-color: $blue-light1;
$sidebar-active-text-color: $dark-gray1;
$sidebar-focus-background-color: transparent;
$sidebar-focus-text-color: $sidebar-text-color;
$sidebar-hover-background-color: transparent;
$sidebar-hover-text-color: $sidebar-text-color;

$transport-menu-width: 200px;

$label-color: $dark-gray2;
$status-color: $dark-gray1;
