.transport-menu {
  position: absolute;
  top: $md-margin;
  bottom: 0;
  left: $sidebar-width + $md-margin;

  width: $transport-menu-width;

  overflow: scroll;

  border-right: solid 1px $border-color;

  &> .transport-menu-segment {
    margin: 0;
    padding: $sm-margin;
    border-radius: 0;

    box-shadow: initial;

    &> .segment-data {
      padding: $lg-margin;
      border-radius: 2px;

      &> .segment-date {
        text-weight: bold;
      }
    }

    &:hover:not(.active), &:hover:not(:focus) {
      &> .segment-data {
        background-color: $sidebar-hover-background-color;
        color: $sidebar-hover-text-color;

        .pt-icon {
          color: inherit;
        }
      }
    }

    &.active, &:focus {
      &> .segment-data {
        background-color: $sidebar-active-background-color;
        color: $sidebar-active-text-color;
      }
    }
  }
}
