.transport-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $sidebar-width;

  padding: $md-margin $sm-margin;
  border-right: solid 1px $border-color;

  width: $transport-menu-width;

  overflow: scroll;

  background-color: $transport-menu-background-color;
  color: $transport-menu-text-color;

  &> .transport-menu-segment {
    margin: 0;
    padding: $sm-margin;
    border-radius: 0;

    box-shadow: initial;

    &> .segment-data {
      padding: $lg-margin;
      border-radius: 2px;

      &> .segment-date {
        text-weight: bold;
      }
    }

    &.active {
      &> .segment-data {
        background-color: $transport-menu-active-background-color;
        color: $transport-menu-active-text-color;

        .fa, .pt-icon {
          color: $label-color;
        }
      }
    }

    &:focus:not(.active) {
      &> .segment-data {
        background-color: $transport-menu-focus-background-color;
        color: $transport-menu-focus-text-color;

        .fa, .pt-icon {
          color: $label-color;
        }
      }
    }

    &:hover:not(.active):not(:focus) {
      &> .segment-data {
        background-color: $transport-menu-hover-background-color;
        color: $transport-menu-hover-text-color;

        .fa, .pt-icon {
          color: $label-color;
        }
      }
    }
  }
}
