@import "~@blueprintjs/core/src/common/react-transition";
@import "~@blueprintjs/core/src/common/variables";

.pt-dialog {
	$dialog-transition-props: (
    transform: (translate(50%, -100%) scale(1), translate(50%, 0%) scale(1))
  );
  @include react-transition(
    "pt-overlay",
    $dialog-transition-props,
    $duration: $pt-transition-duration,
    $easing: $pt-transition-ease,
    $before: "&"
  );

	top: 0;

	width: initial;
	min-width: 400px;
	max-width: 500px;

	padding-bottom: 1em;

	border-radius: 0 0 6px 6px;
	background-color: #EFEFEF;

	.pt-dialog-body {
		margin: 1em;
	}

	.pt-dialog-footer {
		margin: 0 1em;
	}
}
