@import "../../variables.scss";

.pt-menu {
	border-radius: 0px;

	background-color: transparent;

	.pt-menu-header {
		&> h6 {
			color: $macOS-menu-header-color;

			font-weight: 300;
		}
	}

	li {
		&> .pt-menu-item {
			margin: 0 -5px;
			padding: 7px 12px;

			&:hover {
				background-color: transparent;
				color: inherit;

				cursor: initial;

				&::before, .pt-menu-item-label {
					color: #5c7080;
				}
			}

			&.active {
				background-color: #E5E5E5;
			}
		}
	}
}
