.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  border-right: solid 1px $macOS-border-color;

  width: 200px;
  height: 100vh;

  background-color: $macOS-sidebar-color;
}

.sidebar-bottom {
  position: absolute;
  right: 5px;
  bottom: 5px;
  left: 5px;
}
